SECRET_KEY=secret key here
DEBUG=True
ALLOWED_HOSTS=host list
PRODUCTION=False

POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=db_host
POSTGRES_PORT=db_port

EMAIL_USE_SSL=True
EMAIL_PORT=port here
EMAIL_HOST=email host here
EMAIL_HOST_USER=your email here
EMAIL_HOST_PASSWORD=your email password here